body {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #ccc;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #222;
}

body > * {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

h1 {
    font-size: 48pt;
    margin: -24px 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #666;
}

a:active,
a:hover,
a:focus {
    color: #f23602;
}

.contact {
    font-size: 24pt;
    display: inline-block;
    margin: 10px;
}

.github:before {
    content: url(../images/github-logo.svg);
    display: inline-block;
    margin-right: 8px;
    transform: translateY(8px);
}

.github:hover:before {}

.twitter:before {
    content: url(../images/twitter-logo.svg);
    display: inline-block;
    margin-right: 6px;
    transform: translateY(6px);
}

.twitter:hover:before {}