body {
    background-color: #222;
    color: #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

body > * {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    letter-spacing: -0.025em;
    margin: -1.5rem 0;
}

a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

a:link,
a:visited {
    color: #666;
}

a:active,
a:hover {
    color: #f23602;
}

.contact {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
}

.contact:before {
    background-image: url(../images/logos.svg);
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.github:before {
    background-position: 100% 100%;
    transform: translate(-25%, 20%);
}

.github:hover:before {
    background-position: 100% 0;
}

.twitter:before {
    background-position: 0 100%;
    transform: translate(-15%, 30%);
}

.twitter:hover:before {
    background-position: 0 0;
}

@media (max-width: 45em) {
    h1 {
        font-size: 3rem;
        margin: -3rem 0 2rem 0;
    }
    .contact {
        display: block;
    }
}

@media (max-width: 30em) {
    h1 {
        font-size: 2rem;
    }
    .contact {
        font-size: 1.5rem;
        margin: 0.5rem;
    }
    .contact:before {
        display: none;
    }
}