body {
    background-color: #222;
    color: #ccc;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

body > * {
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

h1 {
    font-size: 4rem;
    margin: -1rem 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #666;
}

a:active,
a:hover {
    color: #f23602;
}

.contact {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
}

.contact:before {
    background-image: url(../images/logos.svg);
    content: "";
    display: inline-block;
    height: 2rem;
    transform: translate(-20%, 20%);
    width: 2rem;
}

.github:before {
    background-position: 100% 100%;
}

.github:hover:before {
    background-position: 100% 0;
}

.twitter:before {
    background-position: 0 100%;
}

.twitter:hover:before {
    background-position: 0 0;
}